.mini-markdown h1.heading-atx {
  display: block;
  font-size: 2.0rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  border-bottom: 3px solid var(--color-border-default);
}

.mini-markdown h2.heading-atx {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.mini-markdown h3.heading-atx {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.mini-markdown h4.heading-atx {
  display: block;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.mini-markdown h5.heading-atx {
  display: block;
  font-size: 1.0rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.mini-markdown h6.heading-atx {
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.1rem;
  color: var(--color-fg-muted);
}
