.mini-markdown div.justified-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: var(--width, 100%);
  gap: var(--gap, 0);
}

.mini-markdown div.justified-row-item {
  display: block;
  flex: var(--item-ratio, auto) var(--item-ratio, auto) 0;
}

.mini-markdown div.justified-row-item > :first-child {
  margin-top: 0;
}

.mini-markdown div.justified-row-item > :last-child {
  margin-bottom: 0;
}

.mini-markdown div.justified-row-item img,
.mini-markdown div.justified-row-item video {
  display: block;
  width: 100%;
  height: auto;
  max-width: none;
  max-height: none;
}

.mini-markdown span.justified-row.token-marker {
  color: var(--mmd-color-token-marker);
}

.mini-markdown span.justified-row.token-param {
  color: var(--mmd-color-token-param);
}

.mini-markdown span.justified-row-item.token-marker {
  color: var(--mmd-color-token-marker);
}

.mini-markdown span.justified-row-item.token-param {
  color: var(--mmd-color-token-param);
}