.mini-markdown a.autolink-email {
  color: var(--mmd-color-link);
  text-decoration: none;
}

.mini-markdown a.autolink-email:hover {
  color: var(--mmd-color-link-hover);
  text-decoration: underline;
}