:root {
  --color-bg: #111111;
  --color-text: #dddddd;
  --color-text-secondary: #aaaaaa;
  --color-text-muted: #888888;
  --color-text-link: #ffffff;
  --color-text-link-hover: #7272ff;
  --color-text-link-disabled: #888888;
  --color-depth-0: rgb(25, 25, 25);
  --color-depth-1: rgb(35, 35, 35);
  --color-depth-2: rgb(40, 40, 40);
  --color-depth-3: rgb(60, 60, 60);
  --color-depth-4: rgb(80, 80, 80);
  --color-depth-5: rgb(100, 100, 100);
  --color-depth-6: rgb(120, 120, 120);
}

* {
  margin: 0;
  padding: 0;
  /* box-shadow: 0 0 0 1px #ff0000; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans KR", sans-serif;
  font-size: 16px;
  background-color: var(--color-bg);
  color: var(--color-text);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
  min-width: 0;
  min-height: 0;
}

.header {
  margin-bottom: 16px;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 16px;
  min-width: 0;
  min-height: 0;
}

.view {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0;
}

div .tab-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex: 0;
}

div .tab-button {
  padding: 8px 16px;
  border-radius: 8px 8px 0 0;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}

div .tab-button {
  background: var(--color-depth-2);
}

div .tab-button.on {
  background: var(--color-depth-0);
}

div .tab-button:hover {
  padding: 8px 24px;
}

div .tab-panel {
  flex: 1 1 0;
  padding: 8px;
  border-radius: 0 8px 8px 8px;
  background: var(--color-depth-0);
  min-width: 0;
  min-height: 0;
}

div .editor .tab-panel {
  display: none;
}

div .editor .tab-panel.on {
  display: flex;
  flex-direction: column;
}

div .output .tab-panel {
  display: none;
}

div .output .tab-panel.on {
  display: flex;
  flex-direction: column;
}

div .scroll-text {
  flex: 1;
  background: var(--color-depth-1);
  color: var(--color-text);
  overflow: auto;
  scrollbar-gutter: none;
  scrollbar-width: thin;
  border-radius: 8px;
  padding: 8px;
}

#editor {
  font-family: Roboto, "Noto Sans KR", monospace;
  font-size: 0.8em;
  white-space: pre;
  overflow-wrap: normal;
  word-break: normal;
  outline: none;
  resize: none;
  border: none;
}

#mini-asset-manager {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

#output-preview {
  font-size: 1.0em;
}

#output-html {
  font-family: Roboto, "Noto Sans KR", monospace;
  font-size: 0.8em;
  white-space: pre;
  overflow-wrap: normal;
  word-break: normal;
}

#output-ast {
  font-family: Roboto, "Noto Sans KR", monospace;
  font-size: 0.8em;
  white-space: pre;
  overflow-wrap: normal;
  word-break: normal;
}

#markdown-asset-manager {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column-reverse;
  }
}
