.markdown-body {
  all: unset;
  display: block;
}

.markdown-body {
  --color-border-default: rgb(40, 40, 40);
  --color-bg-default: rgb(30, 30, 30);
  --color-fg-default: rgb(180, 180, 180);
  --color-bg-muted: rgb(30, 30, 30);
  --color-fg-muted: rgb(120, 120, 120);
  --color-blockquote-border: rgb(50, 50, 50);
  --color-blockquote-bg: rgb(40, 40, 40);
  --color-blockquote-fg: rgb(140, 140, 140);
  --color-code-bg: rgb(50, 50, 50);
  --color-code-fg: rgb(180, 180, 180);
  --color-table-border: rgb(20, 20, 20);
  --color-table-header-bg: rgb(40, 40, 40);
  --color-table-header-fg: rgb(180, 180, 180);
  --color-table-row-odd-bg: rgb(50, 50, 50);
  --color-table-row-odd-fg: rgb(180, 180, 180);
  --color-table-row-even-bg: rgb(60, 60, 60);
  --color-table-row-even-fg: rgb(180, 180, 180);
}

.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
  word-break: keep-all;
  color: var(--color-fg-default);
  background-color: var(--color-bg-default);
  padding: 1em;
}

/* Paragraph */
.markdown-body p {
  margin-bottom: 0.5em;
}

/* Heading */
.markdown-body h1 {
  font-size: 1.8em;
  font-weight: var(--base-text-weight-bold, 700);
  margin-bottom: 0.8em;
  border-bottom: 3px solid var(--color-border-default);
}

.markdown-body h2 {
  font-size: 1.6em;
  font-weight: var(--base-text-weight-bold, 700);
  margin-bottom: 0.6em;
}

.markdown-body h3 {
  font-size: 1.4em;
  font-weight: var(--base-text-weight-bold, 700);
  margin-bottom: 0.4em;
}

.markdown-body h4 {
  font-size: 1.2em;
  font-weight: var(--base-text-weight-bold, 700);
  margin-bottom: 0.3em;
}

.markdown-body h5 {
  font-size: 1.0em;
  font-weight: var(--base-text-weight-bold, 700);
  margin-bottom: 0.2em;
}

.markdown-body h6 {
  font-size: 0.8em;
  font-weight: var(--base-text-weight-bold, 700);
  margin-bottom: 0.1em;
}

/* Blockquote */
.markdown-body blockquote {
  background-color: var(--color-blockquote-bg);
  color: var(--color-blockquote-fg);
  border-left: 6px solid var(--color-blockquote-border);
  padding-left: 1em;
  margin: 1em 0;
}

/* Lists */
.markdown-body ul,
.markdown-body ol {
  margin: 0.4em 0;
  padding-left: 2em;
}

/* Code */
.markdown-body code {
  font-family: "SF Mono", SF Mono, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.8em;
  font-weight: 500;
  background-color: var(--color-code-bg);
  color: var(--color-code-fg);
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

/* Code Block */
.markdown-body pre {
  background-color: var(--color-code-bg);
  padding: 0.8em 1.2em;
  border-radius: 4px;
  overflow: auto;
  line-height: 1.2;
}

.markdown-body pre code {
  color: var(--color-code-fg);
  padding: 0;
  background: none;
}

/* Horizontal Rule */
.markdown-body hr {
  border: none;
  border-top: 3px solid var(--color-border-default);
  margin: 1em 0;
}

/* Links */
.markdown-body a {
  color: var(--color-highlight-aris-1);
  text-decoration: none;
}

/* Images */
.markdown-body img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em auto;
  border-radius: 4px;
  max-height: 24em;
}

/* Tables */
.markdown-body table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  font-size: 0.8em;
}

.markdown-body table th,
.markdown-body table td {
  border: 2px solid var(--color-table-border);
  padding: 0.5em 1em;
}

.markdown-body table th {
  background-color: var(--color-table-header-bg);
  color: var(--color-table-header-fg);
  font-weight: var(--base-text-weight-semibold, 800);
}

.markdown-body table tr:nth-child(odd) td {
  background-color: var(--color-table-row-odd-bg);
  color: var(--color-table-row-odd-fg);
}

.markdown-body table tr:nth-child(even) td {
  background-color: var(--color-table-row-even-bg);
  color: var(--color-table-row-even-fg);
}

/* Grid Table */
.markdown-body .grid-table {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin: 1em 0;
  font-size: 0.8em;
}

.markdown-body .grid-table-cell {
  grid-column: var(--col) / span var(--col-span, 1);
  grid-row: var(--row) / span var(--row-span, 1);
  text-align: var(--align-h, left);
  align-content: var(--align-v, center);
  border: 1px solid var(--color-table-border);
  padding: 0.5em 1em;
  min-width: 1em;
  min-height: 1em;
}

.markdown-body .grid-table-cell.grid-table-header {
  background-color: var(--color-table-header-bg);
  color: var(--color-table-header-fg);
  font-weight: var(--base-text-weight-bold, 800);
}

.markdown-body .grid-table-cell.grid-table-data.row-odd {
  background: var(--color-table-row-odd-bg);
  color: var(--color-table-row-odd-fg);
}

.markdown-body .grid-table-cell.grid-table-data.row-even {
  background: var(--color-table-row-even-bg);
  color: var(--color-table-row-even-fg);
}

/* Grid */
.markdown-body .grid {
  display: grid;
  gap: var(--gap, 8px);
  grid-template-columns: repeat(var(--columns), 1fr);
}

.markdown-body .grid-item img,
.markdown-body .grid-item video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

/* Syntax Highlighting */

.markdown-body {
  --color-highlight-midori-0: rgb(200, 220, 180);
  --color-highlight-midori-1: rgb(180, 240, 120);
  --color-highlight-midori-2: rgb(150, 240, 120);
  --color-highlight-momoi-0: rgb(220, 180, 200);
  --color-highlight-momoi-1: rgb(240, 120, 180);
  --color-highlight-momoi-2: rgb(240, 120, 150);
  --color-highlight-aris-0: rgb(180, 200, 220);
  --color-highlight-aris-1: rgb(120, 180, 240);
  --color-highlight-aris-2: rgb(120, 150, 240);
  --color-highlight-yuzu-0: rgb(220, 200, 180);
  --color-highlight-yuzu-1: rgb(240, 180, 120);
  --color-highlight-yuzu-2: rgb(240, 150, 120);
  --color-highlight-kei-0: rgb(220, 200, 200);
  --color-highlight-kei-1: rgb(240, 180, 180);
  --color-highlight-kei-2: rgb(240, 150, 180);
  --color-highlight-bg: rgb(20, 20, 20);
  --color-highlight-text: rgb(250, 250, 200);
  --color-highlight-muted: rgb(120, 120, 120);
}

.markdown-body pre code .mini-highlighter-keyword {
  color: var(--color-highlight-aris-1);
}

.markdown-body pre code .mini-highlighter-type {
  color: var(--color-highlight-aris-1);
}

.markdown-body pre code .mini-highlighter-number {
  color: var(--color-highlight-yuzu-1);
}

.markdown-body pre code .mini-highlighter-string {
  color: var(--color-highlight-yuzu-2);
}

.markdown-body pre code .mini-highlighter-operator {
  color: var(--color-highlight-midori-1);
}

.markdown-body pre code .mini-highlighter-punctuation {
  color: var(--color-highlight-momoi-1);
}

.markdown-body pre code .mini-highlighter-preprocessor {
  color: var(--color-highlight-kei-2);
}

.markdown-body pre code .mini-highlighter-comment {
  color: var(--color-highlight-muted);
}