.mini-markdown blockquote.blockquote {
  margin: var(--mmd-spacing-md) 0;
  padding: 0 0 0 var(--mmd-spacing-md);
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: var(--mmd-color-border-subtle);
  border-radius: var(--mmd-border-radius-md);
  background-color: var(--mmd-color-block-level-2);
  color: var(--mmd-color-text-muted);
}

.mini-markdown blockquote.blockquote > :first-child {
  margin-top: 0;
}

.mini-markdown blockquote.blockquote > :last-child {
  margin-bottom: 0;
}

.mini-markdown span.blockquote.token-marker {
  color: var(--mmd-color-token-marker);
}