.mini-markdown hr.horizontal-rule {
  border: none;
  border-top: 2px solid var(--mmd-color-border-subtle);
  margin: var(--mmd-spacing-md) 0;
}

.mini-markdown span.horizontal-rule.token-marker {
  color: var(--mmd-color-token-marker);
}