/* .mini-markdown * {
  box-shadow: 0 0 0 1px #ff0000;
} */

.mini-markdown {
  all: unset;
  display: block;
  color-scheme: dark;
}

.mini-markdown {
  --color-border-default: rgb(50, 50, 50);
  --color-bg-default: rgb(30, 30, 30);
  --color-fg-default: rgb(180, 180, 180);
  --color-bg-muted: rgb(30, 30, 30);
  --color-fg-muted: rgb(120, 120, 120);
  --color-blockquote-border: rgb(50, 50, 50);
  --color-blockquote-bg: rgb(40, 40, 40);
  --color-blockquote-fg: rgb(140, 140, 140);
  --color-code-bg: rgb(50, 50, 50);
  --color-code-fg: rgb(180, 180, 180);
  --color-table-border: rgb(20, 20, 20);
  --color-table-header-bg: rgb(40, 40, 40);
  --color-table-header-fg: rgb(180, 180, 180);
  --color-table-row-odd-bg: rgb(50, 50, 50);
  --color-table-row-odd-fg: rgb(180, 180, 180);
  --color-table-row-even-bg: rgb(60, 60, 60);
  --color-table-row-even-fg: rgb(180, 180, 180);
}

.mini-markdown {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1.0rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-fg-default);
  background-color: var(--color-bg-default);
  padding: 1em;
}

/* Paragraph */
.mini-markdown p {
  font-size: 0.875rem;
}

.mini-markdown p+p {
  margin-top: 0.875rem;
}

/* Heading */
.mini-markdown h1 {
  font-size: 2.0rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  border-bottom: 3px solid var(--color-border-default);
}

.mini-markdown h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.mini-markdown h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.mini-markdown h4 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.mini-markdown h5 {
  font-size: 1.0rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.mini-markdown h6 {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.1rem;
  color: var(--color-fg-muted);
}

/* Blockquote */
.mini-markdown blockquote {
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-blockquote-bg);
  color: var(--color-blockquote-fg);
  border-left: 6px solid var(--color-blockquote-border);
  padding-left: 1rem;
  text-align: left;
}

.mini-markdown blockquote>blockquote {
  padding-top: 0.5rem;
}

/* Lists */
.mini-markdown ul,
.mini-markdown ol {
  padding-left: 1.5rem;
  font-size: 0.875rem;
}

/* Code */
.mini-markdown code {
  font-family: D2Coding, Menlo, Monaco, "Courier New", monospace;
  background-color: var(--color-code-bg);
  font-size: 0.875rem;
  color: var(--color-code-fg);
  border-radius: 4px;
  padding: 0.12rem 0.24rem;
}

/* Code Block */
.mini-markdown pre {
  flex: 1 1 0;
  background-color: var(--color-code-bg);
  font-size: 0.875rem;
  text-align: left;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  line-height: 1.2;
}

.mini-markdown pre>code {
  all: unset;
  font-family: D2Coding, Menlo, Monaco, "Courier New", monospace;
  font-size: 0.8rem;
}

/* Horizontal Rule */
.mini-markdown hr {
  border: none;
  border-top: 3px solid var(--color-border-default);
  margin: 1rem 0;
}

/* Links */
.mini-markdown a {
  color: var(--color-highlight-aris-1);
  text-decoration: none;
  font-size: 0.875rem;
}

/* Images */
.mini-markdown img {
  flex: 1 1 0;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  max-height: 20rem;
}

/* Tables */
.mini-markdown table {
  flex: 1 1 0;
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

.mini-markdown table th,
.mini-markdown table td {
  flex: 1 1 0;
  text-align: var(--align-text-h, left);
  justify-items: var(--align-item-h, left);
  border: 2px solid var(--color-table-border);
  padding: 0.5em 1em;
}

.mini-markdown table th img,
.mini-markdown table td img {
  flex: 1 1 0;
  display: inline-block;
  margin: 0;
}

.mini-markdown table th video,
.mini-markdown table td video {
  flex: 1 1 0;
  display: inline-block;
  margin: 0;
}

.mini-markdown table th {
  flex: 1 1 0;
  background-color: var(--color-table-header-bg);
  color: var(--color-table-header-fg);
  font-weight: var(--base-text-weight-semibold, 800);
}

.mini-markdown table tr:nth-child(odd) td {
  flex: 1 1 0;
  background-color: var(--color-table-row-odd-bg);
  color: var(--color-table-row-odd-fg);
}

.mini-markdown table tr:nth-child(even) td {
  flex: 1 1 0;
  background-color: var(--color-table-row-even-bg);
  color: var(--color-table-row-even-fg);
}

/* Grid */
.mini-markdown .grid {
  flex: 1 1 0;
  display: grid;
  margin: 1em 0;
  padding: 0;
  gap: var(--gap, 8px);
  grid-template-columns: repeat(var(--columns), 1fr);
}

.mini-markdown .grid-item {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: var(--align-text-h, left);
  align-content: var(--align-text-v, center);
  align-items: var(--align-item-h, stretch);
  justify-content: var(--align-item-v, space-between);
  font-size: 0.875rem;
}

.mini-markdown .grid-item>.grid {
  flex: 0 0 0;
  margin: 0;
  padding: 0;
}

/* Grid Table */
.mini-markdown .grid-table {
  flex: 1 1 0;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  min-width: max-content;
}

.mini-markdown .grid-table-cell {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  grid-column: var(--col) / span var(--col-span, 1);
  grid-row: var(--row) / span var(--row-span, 1);
  border: 1px solid var(--color-table-border);
  padding: 0.5em 1em;
  min-width: 1em;
  min-height: 1em;
  text-align: var(--align-text-h, left);
  align-content: var(--align-text-v, center);
  align-items: var(--align-item-h, stretch);
  justify-content: var(--align-item-v, space-between);
  min-width: max-content;
  font-size: 0.875rem;
}

.mini-markdown .grid-table-cell img,
.mini-markdown .grid-table-cell video {
  flex: 1 1 0;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

.mini-markdown .grid-table-cell.grid-table-header {
  flex: 1 1 0;
  background-color: var(--color-table-header-bg);
  color: var(--color-table-header-fg);
  font-weight: var(--base-text-weight-bold, 800);
}

.mini-markdown .grid-table-cell.grid-table-data.row-odd {
  flex: 1 1 0;
  background: var(--color-table-row-odd-bg);
  color: var(--color-table-row-odd-fg);
}

.mini-markdown .grid-table-cell.grid-table-data.row-even {
  flex: 1 1 0;
  background: var(--color-table-row-even-bg);
  color: var(--color-table-row-even-fg);
}

/* Scroll (Horizontal Overflow) */
.mini-markdown .scroll {
  flex: 1 1 0;
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  border-radius: 4px;
}