.mini-markdown div.grid {
  display: grid;
  grid-template-columns: var(--columns, 1fr);
  width: var(--width, 100%);
  gap: var(--gap, 0);
  margin: 1rem 0;
}

.mini-markdown div.grid-item {
  display: grid;
  place-items: var(--align-v, stretch) var(--align-h, stretch);
  text-align: var(--align-h, left);
}

.mini-markdown div.grid-item div {
  margin: 0;
}
  
.mini-markdown div.grid-item p {
  overflow-wrap: break-word;
}

.mini-markdown div.grid-item img,
.mini-markdown div.grid-item video {
  vertical-align: bottom;
}