.mini-markdown pre.code-block {
  margin: var(--mmd-spacing-md) 0;
  padding: var(--mmd-spacing-md);
  line-height: var(--mmd-line-height-code);
  border-radius: var(--mmd-border-radius-md);
  background-color: var(--mmd-color-code-block-background);
  overflow: auto;
  scrollbar-width: thin;
}

.mini-markdown pre.code-block>code.code-block {
  font-family: var(--mmd-font-family-code);
  font-size: var(--mmd-font-size-code);
  color: var(--mmd-color-code-block-foreground);
  background: none;
}

.mini-markdown span.code-block.token-marker {
  background-color: var(--mmd-color-token-marker);
  opacity: 0.1;
}

.mini-markdown span.code-block.token-code {
  color: var(--mmd-color-token-code);
}