.mini-markdown div.table {
  overflow: auto;
}

.mini-markdown table.table {
  border-collapse: separate;
  border-spacing: 4px;
  width: 100%;
}

.mini-markdown table.table .table-cell {
  min-width: max-content;
  text-align: var(--align-h, left);
  padding: 4px 8px;
}

.mini-markdown table.table th.table-cell {
  font-weight: bold;
  background-color: var(--color-table-head-bg, rgb(20, 20, 20));
}

.mini-markdown table.table td.table-cell {
  font-weight: normal;
  background-color: var(--color-table-data-bg, rgb(40, 40, 40));
}