.mini-markdown pre.code-block>code.code-block {
  display: block;
  font-family: D2Coding, Menlo, Monaco, "Courier New", monospace;
  font-size: 0.875rem;
  background-color: var(--color-code-bg);
  color: var(--color-code-fg);
  line-height: 1.2;
  padding: 0.4rem 0.4rem;
  border-radius: 4px;
  overflow: auto;
}