.mini-markdown div.table {
  overflow: auto;
}

.mini-markdown table.table {
  border-collapse: separate;
  border-spacing: var(--mmd-gap-xs);
  width: 100%;
}

.mini-markdown table.table .table-cell {
  min-width: max-content;
  text-align: var(--align-h, left);
  padding: var(--mmd-spacing-xs) var(--mmd-spacing-sm);
}

.mini-markdown table.table th.table-cell {
  font-weight: var(--mmd-font-weight-bold);
  background-color: var(--mmd-color-table-header-background);
}

.mini-markdown table.table td.table-cell {
  font-weight: var(--mmd-font-weight-normal);
  background-color: var(--mmd-color-table-data-background);
}

.mini-markdown span.table.token-marker {
  color: var(--mmd-color-token-marker);
}