.mini-markdown h1.heading-setext,
.mini-markdown h2.heading-setext,
.mini-markdown h3.heading-setext,
.mini-markdown h4.heading-setext,
.mini-markdown h5.heading-setext,
.mini-markdown h6.heading-setext {
  margin-top: var(--mmd-spacing-md);
  margin-bottom: var(--mmd-spacing-sm);
  padding-bottom: var(--mmd-spacing-xs);
}

.mini-markdown h1.heading-setext {
  margin-top: 0;
  font-size: var(--mmd-font-size-3xl);
  line-height: var(--mmd-line-height-text);
  border-bottom: 2px solid var(--mmd-color-border);
}

.mini-markdown h2.heading-setext {
  font-size: var(--mmd-font-size-2xl);
  line-height: var(--mmd-line-height-text);
}

.mini-markdown h3.heading-setext {
  font-size: var(--mmd-font-size-xl);
  line-height: var(--mmd-line-height-text);
}

.mini-markdown h4.heading-setext {
  font-size: var(--mmd-font-size-lg);
  line-height: var(--mmd-line-height-text);
}

.mini-markdown h5.heading-setext {
  font-size: var(--mmd-font-size-md);
  line-height: var(--mmd-line-height-text);
}

.mini-markdown h6.heading-setext {
  font-size: var(--mmd-font-size-sm);
  line-height: var(--mmd-line-height-text);
}

.mini-markdown span.heading-setext.token-marker {
  color: var(--mmd-color-token-marker);
}

.mini-markdown span.heading-setext.token-content {
  color: var(--mmd-color-token-content);
}