.mini-markdown div.grid {
  display: grid;
  margin: 1rem 0;
  grid-template-columns: var(--columns, 1);
  place-content: stretch stretch;
  width: var(--width, 100%);
  gap: var(--gap, 0);
}

.mini-markdown div.grid-item {
  display: block;
  place-self: var(--align-v, stretch) var(--align-h, stretch);
  text-align: var(--align-h, left);
}

.mini-markdown div.grid-item * {
  width: 100%;
  height: auto;
}

.mini-markdown div.grid-item div {
  margin: 0 0;
}

.mini-markdown div.grid-item img, 
.mini-markdown div.grid-item video {
  display: block;
}