.mini-markdown a.autolink-url {
  color: var(--mmd-color-link);
  text-decoration: none;
}

.mini-markdown a.autolink-url:hover {
  color: var(--mmd-color-link-hover);
  text-decoration: underline;
}

.mini-markdown span.autolink-url.token-marker {
  color: var(--mmd-color-token-marker);
}

.mini-markdown span.autolink-url.token-content {
  color: var(--mmd-color-token-content);
}