.mini-markdown div.blockquote {
  display: block;
  border-left: 6px solid var(--color-blockquote-border);
  margin: 1rem 0;
  padding-left: 1rem;
  text-align: left;
  background-color: var(--color-blockquote-bg);
  color: var(--color-blockquote-fg);
}

.mini-markdown div.blockquote>div.blockquote {
  margin: 0;
  margin-top: 0.5rem;
}