.mini-markdown a.link {
  color: var(--mmd-color-link);
  text-decoration: none;
}

.mini-markdown a.link:hover {
  color: var(--mmd-color-link-hover);
  text-decoration: underline;
}

.mini-markdown span.link.token-marker {
  color: var(--mmd-color-token-marker);
}

.mini-markdown span.link.token-content {
  color: var(--mmd-color-token-content);
}

.mini-markdown span.link.token-param {
  color: var(--mmd-color-token-param);
}