.mini-markdown pre.fenced-code-block {
  display: block;
  background-color: var(--color-code-bg);
  border-radius: 4px;
  padding: 0.4rem 0.4rem;
  overflow-x: auto;
}

.mini-markdown pre.fenced-code-block>code.fenced-code-block {
  display: block;
  font-family: D2Coding, Menlo, Monaco, "Courier New", monospace;
  font-size: 0.875rem;
  color: var(--color-code-fg);
  line-height: 1.2;
}