.mini-markdown a.link-citation {
  color: var(--mmd-color-link);
  text-decoration: none;
}

.mini-markdown a.link-citation:hover {
  color: var(--mmd-color-link-hover);
  text-decoration: underline;
}

.mini-markdown span.link-citation.token-marker {
  color: var(--mmd-color-token-marker);
}

.mini-markdown span.link-citation.token-content {
  color: var(--mmd-color-token-content);
}

.mini-markdown span.link-citation.token-param {
  color: var(--mmd-color-token-param);
}