.mini-markdown ul.list {
  margin: var(--mmd-spacing-xs) 0;
  padding-left: var(--mmd-spacing-lg);
  font-size: var(--mmd-font-size-md);
}

.mini-markdown ol.list {
  margin: var(--mmd-spacing-xs) 0;
  padding-left: var(--mmd-spacing-lg);
  font-size: var(--mmd-font-size-md);
}

.mini-markdown li.list-item {
  margin: 0;
}

.mini-markdown li.list-item > p {
  margin: 0;
}