.mini-markdown div.grid-table {
  display: grid;
  grid-template-columns: repeat(var(--columns, 1), 1fr);
  gap: var(--mmd-gap-xs);
}

.mini-markdown div.grid-table > div {
  grid-column: span var(--col-span, 1);
  grid-row: span var(--row-span, 1);
  padding: var(--mmd-spacing-sm);
}

.mini-markdown div.grid-table > div.grid-table-cell {
  display: grid;
  place-items: var(--align-v, start) var(--align-h, start);
  text-align: var(--align-h, left);
}

.mini-markdown div.grid-table > div.grid-table-head {
  font-weight: var(--mmd-font-weight-bold);
  background-color: var(--mmd-color-table-header-background);
  color: var(--mmd-color-table-header-foreground);
}

.mini-markdown div.grid-table > div.grid-table-data {
  font-weight: var(--mmd-font-weight-normal);
  background-color: var(--mmd-color-table-data-background);
  color: var(--mmd-color-table-data-foreground);
}